<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dnfapi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DnFApI"
        android:usesCleartextTraffic="true">
        <activity android:name=".board.MainBoardActivity"></activity>
        <activity android:name=".Chat.Report_adminDetailActivity" />
        <activity android:name=".Chat.Report_adminActivity" />
        <activity android:name=".Chat.Report_customerActivity" />
        <activity android:name=".LoadingActivity" />
        <activity android:name=".EventWebViewActivity" />
        <activity android:name=".board.BoardInfoActivity" />
        <activity android:name=".board.BoardListActivity" />
        <activity android:name=".board.BoardInputActivity" />
        <activity android:name=".register.MemberInfoActivity" />
        <activity android:name=".SearchItemActivity" />
        <activity android:name=".TradeMarketActivity" />
        <activity android:name=".aboutCharacter.CharacterItemActivity" />
        <activity android:name=".aboutCharacter.CharacterStatActivity" />
        <activity android:name=".aboutCharacter.CharacterInfoActivity" />
        <activity android:name=".register.SignUpActivity" />
        <activity android:name=".register.LoginActivity" />
        <activity android:name=".board.BoardChangeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>