<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dnfapi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DnFApI"
        android:usesCleartextTraffic="true">
        <activity android:name=".LoadingActivity"></activity>
        <activity android:name=".EventWebViewActivity" />
        <activity android:name=".BoardInfoActivity" />
        <activity android:name=".BoardListActivity" />
        <activity android:name=".BoardInputActivity" />
        <activity android:name=".MemberInfoActivity" />
        <activity android:name=".SearchItemActivity" />
        <activity android:name=".TradeMarketActivity" />
        <activity android:name=".CharacterItemActivity" />
        <activity android:name=".CharacterStatActivity" />
        <activity android:name=".CharacterInfoActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".BoardChangeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>